<div id="footerContainerInner" class="container">
    <footer id="footerWrapper" class="footerWrapper">
        <div id="footer-control" class="footer-light">
            <!-- ROW -->
            <div class="footerContainerTop row">
                <div class="contactDiv col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <!--<h3>Need assistance? <a href="https://qlikid.qlik.com/portal/support" class="ui-link">Contact Support</a></h3>-->
                    <h3>Need assistance? <a href="javascript:openFeedback();" class="ui-link">Get help and send
                            feedback.</a></h3>
                </div>
                <div class="socialDiv col-md-5 col-md-5 col-sm-5 col-xs-12">
                    <ul id="socialDivUl">
                        <li>
                            <a href="https://www.linkedin.com/company/qlik?ga-link=footer" target="_blank" id="linkedin-link"
                                class="social-link ui-link">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 360">
                                    <title>linkedin-green-logoArtboard 1</title>
                                    <circle cx="180" cy="180" r="170.99" style="fill:#fff"></circle>
                                    <path d="M102.59,148.19h35.82V263.32H102.59ZM120.51,91A20.75,20.75,0,1,1,99.75,111.7,20.75,20.75,0,0,1,120.51,91"
                                        style="fill:#54565A"></path>
                                    <path d="M160.86,148.19h34.3v15.74h.49c4.77-9.05,16.45-18.6,33.86-18.6,36.23,0,42.93,23.84,42.93,54.85v63.14H236.65v-56c0-13.35-.23-30.53-18.59-30.53-18.62,0-21.46,14.55-21.46,29.57v56.95H160.86Z"
                                        style="fill:#54565A"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/qlik?ga-link=footer" target="_blank" id="facebook-link"
                                class="social-link ui-link">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 360">
                                    <title>Artboard 1</title>
                                    <circle cx="180" cy="180" r="170.99" style="fill:#fff"></circle>
                                    <path d="M188.66,289.53H148V188.38H127.66V153.52H148V132.59c0-28.44,11.47-45.35,44.07-45.35H219.2v34.86h-17c-12.69,0-13.53,4.87-13.53,14l-.05,17.45H219.4l-3.6,34.86H188.66Z"
                                        style="fill:#54565A"></path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/qlik?ga-link=footer" target="_blank" id="twitter-link" class="social-link ui-link">
                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 360">
                                    <title>twitter-green-logoArtboard 1</title>
                                    <circle cx="180" cy="180" r="170.99" style="fill:#fff"></circle>
                                    <path d="M152.45,272.25a114.2,114.2,0,0,1-61.85-18.13,82.07,82.07,0,0,0,9.62.56,81,81,0,0,0,50.11-17.27,40.39,40.39,0,0,1-37.69-28,40.44,40.44,0,0,0,18.22-.69,40.37,40.37,0,0,1-32.36-39.56c0-.17,0-.34,0-.51a40.18,40.18,0,0,0,18.27,5,40.39,40.39,0,0,1-12.49-53.86A114.54,114.54,0,0,0,187.46,162a40.37,40.37,0,0,1,68.75-36.8,80.8,80.8,0,0,0,25.62-9.79,40.47,40.47,0,0,1-17.74,22.32,80.67,80.67,0,0,0,23.17-6.35,82,82,0,0,1-20.13,20.89q.12,2.59.12,5.22c0,53.31-40.58,114.79-114.79,114.79"
                                        style="fill:#54565A"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END ROW -->
            <!-- ROW -->
            <div class="footerContainerBottom">
                <!--<div class="copyright">
                        <ul>
                            <li id="copyWrite">The Portal Platform is licensed and hosted by Relayware, Inc. All Rights Reserved 2017.</li>
                        </ul>
                    </div>-->
                <nav id="navigation" rol="navigation">
                    <a href="https://partners.qlik.com/?eid=site_map" class="ui-link">Site Map</a>
                    <a href="https://partners.qlik.com/?eid=privacy_policy" class="ui-link">Privacy Policy</a>
                    <a href="https://partners.qlik.com/?eid=terms_and_conditions" class="ui-link">Terms of Use</a>
                    <a href="http://www.qlik.com/us/legal/license-terms" class="ui-link">License Terms</a>
                </nav>
            </div>
            <!-- END ROW -->
        </div>
        <div id="onepresales-feedback" style="z-index: 100;display: none; text-align:center; position: fixed; top: 0; left: 0px; width: 100%; height: 100%; margin: 0 auto;background: rgba(0,0,0,0.5);">

            <div style="width: 80%; max-width: 600px; margin: 30px auto;background-color: #fff;">
                <h1 class="well">Submit Feedback <span onclick="hideFeedback()" style="float: right;cursor:pointer;">X</span></h1>

                <div style="padding: 30px;">
                    <div class="form-area">
                        <form class="form-horizontal" id="feedback-form" role="form">
                            <div class="form-group">
                                <label for="selectTool" class="col-sm-2 control-label">About</label>
                                <div class="col-sm-10">
                                    <select id="selectTool" class="form-control">
                                        <option value="general">General feedback</option>
                                        <option value="answers">Technical Insights</option>
                                        <option value="sizing">Sizing Advisor</option>
                                        <option value="qmi">QMI</option>
                                        <option value="slidesgen">Presentation Explorer</option>
                                        <option value="metrics">Performance Metrics</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="feedbackName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="feedbackName" name="name" placeholder="Your Name"
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="feedbackEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="feedbackEmail" name="email"
                                        placeholder="Your Email" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="feedbackSubject" class="col-sm-2 control-label">Subject</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="feedbackSubject" name="subject"
                                        placeholder="Subject" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="feedbackMessage">Your message</label>
                                <textarea class="form-control" type="textarea" id="feedbackMessage" name="message"
                                    placeholder="The thing is..." rows="7" style="resize: none;"></textarea>
                            </div>
                            <div style="text-align: right;">
                                <button type="submit" id="submit" name="submit" class="btn btn-primary">Send <span
                                        class="fa fa-send"></span></button>
                            </div>
                            <div id="cb-message" style="display: none">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>